<table td-data-table style="top:-30px;position:relative;">
  <thead>
    <tr td-data-table-row>
      <th (click)="sortWorkItems('workId')">
        No.
      </th>
      <th (click)="sortWorkItems('routeNumber')">
        Rt.
      </th>
      <th (click)="sortWorkItems('daysOn')">
        Day
      </th>
      <th (click)="sortWorkItems('timeOn')">
        Time On
      </th>
      <th (click)="sortWorkItems('timeOff')">
        Time Off
      </th>
      <th (click)="sortWorkItems('daysOff')">
        Days Off
      </th>
    </tr>
  </thead>

  <ng-container *ngFor="let item of workItems;">
    <ng-container *ngFor="let run of item.runs; let first=first; let last=last">
      <tr *ngIf="last" td-data-table-row style="height: inherit">
        <td>
        <span *ngIf="first">
          {{item.workId}}
        </span>
        </td>
        <td style="text-align: center">
          {{run.routeNumber}}
        </td>
        <td style="text-align: center">
          {{run.daysOn}}
        </td>
        <td style="text-align: center">
          {{run.timeOn}}
        </td>
        <td style="text-align: center">
          {{run.timeOff}}
        </td>
        <td style="text-align: center">
        <span *ngIf="item.daysOff.length > 0 && first">
          {{item.daysOff[0].day}}
        </span>
          <span *ngIf="item.daysOff.length > 1 && !first">
          {{item.daysOff[1].day}}
        </span>
        </td>
      </tr>


      <tr *ngIf="!last">
        <td>
        <span *ngIf="first">
          {{item.workId}}
        </span>
        </td>
        <td style="text-align: center">
          {{run.routeNumber}}
        </td>
        <td style="text-align: center">
          {{run.daysOn}}
        </td>
        <td style="text-align: center">
          {{run.timeOn}}
        </td>
        <td style="text-align: center">
          {{run.timeOff}}
        </td>
        <td style="text-align: center">
        <span *ngIf="item.daysOff.length > 0 && first">
          {{item.daysOff[0].day}}
        </span>
          <span *ngIf="item.daysOff.length > 1 && !first">
          {{item.daysOff[1].day}}
        </span>
        </td>
      </tr>
    </ng-container>
  </ng-container>

</table>
