<table td-data-table style="top:-30px;position:relative;">
    <tr td-data-table-row>
      <th td-data-table-cell (click)="sortWorkItems('workId')">
        <span class="pad-left-sm">No.</span>
        <mat-icon *ngIf="!sortOrder && sortedColumn === 'workId';">arrow_drop_down</mat-icon>
        <mat-icon *ngIf="sortOrder && sortedColumn === 'workId';">arrow_drop_up</mat-icon>
        <mat-icon *ngIf="sortedColumn !== 'workId';"></mat-icon>
      </th>

      <th td-data-table-cell>
        Rt.
      </th>

      <th td-data-table-cell>
        Day
      </th>

      <th td-data-table-cell>
        Time On
      </th>

      <th td-data-table-cell>
        Time Off
      </th>

      <th td-data-table-cell>
        Days Off
      </th>
    </tr>

  <ng-container *ngFor="let item of workItems;">
    <ng-container *ngFor="let run of item.runs; let first=first; let last=last">

      <tr *ngIf="last" td-data-table-row style="height: inherit" (click)="selected.emit(run)">
        <td>
        <span *ngIf="first">
          {{item.workId}}
        </span>
        </td>

        <td style="text-align: center">
          {{run.routeNumber}}
        </td>

        <td style="text-align: center">
          {{run.daysOn}}
        </td>

        <td style="text-align: center">
          {{run.timeOn}}
        </td>

        <td style="text-align: center">
          {{run.timeOff}}
        </td>

        <td style="text-align: center">
        <span *ngIf="item.daysOff.length > 0 && first">
          {{item.daysOff[0].day}}
        </span>
          <span *ngIf="item.daysOff.length > 1 && !first">
          {{item.daysOff[1].day}}
        </span>
        </td>

      </tr>


      <tr *ngIf="!last"(click)="selected.emit(run)">
        <td>
        <span *ngIf="first">
          {{item.workId}}
        </span>
        </td>

        <td style="text-align: center">
          {{run.routeNumber}}
        </td>

        <td style="text-align: center">
          {{run.daysOn}}
        </td>

        <td style="text-align: center">
          {{run.timeOn}}
        </td>

        <td style="text-align: center">
          {{run.timeOff}}
        </td>

        <td style="text-align: center">
        <span *ngIf="item.daysOff.length > 0 && first">
          {{item.daysOff[0].day}}
        </span>
          <span *ngIf="item.daysOff.length > 1 && !first">
          {{item.daysOff[1].day}}
        </span>
        </td>

      </tr>
    </ng-container>
  </ng-container>

</table>
